{% extends "posts/base.html" %}

{% block content%}

<div class="container">
  <a href="{% url 'post_detail' post.id %}">
    <br/>
    <h1>{{ post.title }}</h1>
    <hr />
  </a>
  <h4><i class="far fa-calendar-alt"></i> {{post.pub_date_pretty }}
  </h4>
  <br/>
  <img src="{{ post.img.url }}" class="center"/>

  <br/>
  <br/>
  <article>
    {{ post.body }}
  </article>
  <br/>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.identifier = 'posts-{{ post.id }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mr-cooperthecorgiblog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a
    href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a>
  </noscript>
</div>

{% endblock content %}